In [1]:
import pandas as pd
import numpy as np

创建空的DataFrame

In [2]:
df0 = pd.DataFrame()
df0

Empty DataFrame
Columns: []
Index: []

根据列表创建DataFrame

In [8]:
df1 = pd.DataFrame([1, 2, 3], index=['a', 'c', 'b'])
df1

   0
a  1
c  2
b  3

In [9]:
df2 = pd.DataFrame([['dog', 1], ['cat', 2]], index=['A','B'], columns=['name', 'age'])
df2

  name  age
A  dog    1
B  cat    2

根据字段创建DataFrame

In [19]:
df3 = pd.DataFrame({'name': ['dog', 'cata'], 'age':[2, 3]}, columns=['age', 'name'], index=['i0', 'i1'])
df3

    age  name
i0    2   dog
i1    3  cata

In [30]:
nd = np.array([[1, 2, 3], [1, 2, 3], [11, 21, 31]])
df4 = pd.DataFrame(nd, columns=['f', 's', 't'], index=['i0', 'i1', 'i2'])
df4

     f   s   t
i0   1   2   3
i1   1   2   3
i2  11  21  31

In [31]:
df4[['f', 's']]

     f   s
i0   1   2
i1   1   2
i2  11  21

In [37]:
df4[1:3]

     f   s   t
i1   1   2   3
i2  11  21  31