In [1]:
import pandas as pd
import numpy as np

In [2]:
nd = np.arange(15).reshape((5, 3))
nd
df = pd.DataFrame(nd, columns=['one', 'two', 'three'])
df

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
3    9   10     11
4   12   13     14

In [6]:
df.reindex(index=[0, 2, 7], columns=['one', 'two', 'five'])

   one  two  five
0  0.0  1.0   NaN
2  6.0  7.0   NaN
7  NaN  NaN   NaN

In [11]:
df.rename(columns={'one': '00'}, index={1: 'bb'})

    00  two  three
0    0    1      2
bb   3    4      5
2    6    7      8
3    9   10     11
4   12   13     14

In [12]:
df1 = pd.DataFrame([[1,2, 3],[4, 5, 6]], columns=['one', 'two', 'three'])
df.reindex_like(df1)

   one  two  three
0    0    1      2
1    3    4      5