# 元组
元组中只包含一个元素时，需要在元素后面添加逗号

In [7]:
tup1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# 元组中只包含一个元素时，需要在元素后面添加逗号
tup2 = ('333',)

print(tup1[:3])
print(tup1 * 2)

ntup = tup1 + tup2

print(ntup)

(1, 2, 3)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9, '333')