In [6]:
import pandas as pd

df = pd.DataFrame({
    'a': ['a', 'b', 'c'],
    'b': ['A', 'B', 'C'],
    'c': [1, 2, 3]
})

# pd.get_dummies(df, dummy_na=True)
df

df.drop('a', axis=1)
df['a']

   a  b  c
0  a  A  1
1  b  B  2
2  c  C  3

   b  c
0  A  1
1  B  2
2  C  3

0    a
1    b
2    c
Name: a, dtype: object