In [18]:
import pandas as pd

df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [11, 22, 33]
})

df[['a']]

   a
0  1
1  2
2  3