# 字符串和文本数据

In [1]:
import pandas as pd
import numpy as np

In [89]:
arr = ['tom  ', 'Shen Zhen', 'long gang', '100', 123]
s = pd.Series(arr)
s1 = 'He is a good boy   '

In [71]:
s.str.find('0')

0   -1.0
1   -1.0
2   -1.0
3    NaN
dtype: float64

In [97]:
s.str.findall('o')

0    [o]
1     []
2    [o]
3     []
4    NaN
dtype: object

In [96]:
s.str.lower()

0        tom
1    shen zhen
2    long gang
3          100
4          NaN
dtype: object

In [95]:
s.str.upper()

0        TOM
1    SHEN ZHEN
2    LONG GANG
3          100
4          NaN
dtype: object

In [94]:
s.str.len()

0    5.0
1    9.0
2    9.0
3    3.0
4    NaN
dtype: float64

In [93]:
s.str.strip()

0          tom
1    Shen Zhen
2    long gang
3          100
4          NaN
dtype: object

In [92]:
s.str.split(" ")

0       [tom, , ]
1    [Shen, Zhen]
2    [long, gang]
3           [100]
4             NaN
dtype: object

In [91]:
s.str.join(',')

0            t,o,m, ,
1    S,h,e,n, ,Z,h,e,n
2    l,o,n,g, ,g,a,n,g
3                1,0,0
4                  NaN
dtype: object

In [90]:
s.str.isnumeric()

0    False
1    False
2    False
3     True
4      NaN
dtype: object

In [98]:
s.str.swapcase()

0        TOM
1    sHEN zHEN
2    LONG GANG
3          100
4          NaN
dtype: object

In [100]:
s.str.contains('S')

0    False
1     True
2    False
3    False
4      NaN
dtype: object

In [102]:
s.str.count('o')

0    1.0
1    0.0
2    1.0
3    0.0
4    NaN
dtype: float64

In [107]:
s.str.repeat(2)

0            tom  tom
1    Shen ZhenShen Zhen
2    long ganglong gang
3                100100
4                   NaN
dtype: object

In [104]:
s.str.islower()

0     True
1    False
2     True
3    False
4      NaN
dtype: object

In [105]:
s.str.isupper()

0    False
1    False
2    False
3    False
4      NaN
dtype: object

# python字符串

In [19]:
s1.lower()

'he is a good boy   '

In [20]:
s1.upper()

'HE IS A GOOD BOY   '

In [24]:
s1.strip()

'He is a good boy'

In [25]:
len(s1)

19

In [26]:
s1.split(' ')

['He', 'is', 'a', 'good', 'boy', '', '', '']

In [27]:
s1.replace('a', 'A')

'He is A good boy   '

In [30]:
s1 * 3

'He is a good boy   He is a good boy   He is a good boy   '

In [31]:
s1.count('o')

3

In [33]:
s1.find('a')

6

In [37]:
s1.islower()

False

In [38]:
s1.isupper()

False

In [39]:
s1.isnumeric()

False

In [42]:
'123'.isnumeric()

True

In [45]:
s1.startswith('H')

True

In [48]:
s1.endswith('oy   ')

True

In [49]:
s1.swapcase()

'hE IS A GOOD BOY   '