In [1]:
import pandas as pd
import numpy as np

In [42]:
nd = np.random.rand(3, 3)
df = pd.DataFrame(nd)
df

          0         1         2
0  0.179537  0.754963  0.593464
1  0.313564  0.087868  0.426102
2  0.253442  0.650305  0.845449

In [43]:
df.pct_change()

          0         1         2
0       NaN       NaN       NaN
1  0.746519 -0.883613 -0.282009
2 -0.191737  6.400946  0.984148

In [44]:
df.cov()

          0         1         2
0  0.004507 -0.021826 -0.004837
1 -0.021826  0.128717  0.053522
2 -0.004837  0.053522  0.044560

In [45]:
# help(df.corr)
df.corr()

          0         1         2
0  1.000000 -0.906225 -0.341307
1 -0.906225  1.000000  0.706708
2 -0.341307  0.706708  1.000000