# 迭代

+ iteritems() - 迭代(key，value)
+ iterrows() - 将行迭代为(索引，系列)
+ itertuples() - 以namedtuples的形式迭代行

In [1]:
import pandas as pd
import numpy as np

In [2]:
nd = np.arange(15).reshape((5, 3))
nd
df = pd.DataFrame(nd, columns=['one', 'two', 'three'])
df

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
3    9   10     11
4   12   13     14

In [3]:
for col in df:
    print(col)

one
two
three

In [28]:
for c_name,c_values in df.iteritems():
    print(c_name)
    print(c_values)
    
# for item in df.iteritems():
#     print(item)

# df.all()

one
0     0
1     3
2     6
3     9
4    12
Name: one, dtype: int32
two
0     1
1     4
2     7
3    10
4    13
Name: two, dtype: int32
three
0     2
1     5
2     8
3    11
4    14
Name: three, dtype: int32

In [30]:
for index,row in df.iterrows():
    print(row)

one      0
two      1
three    2
Name: 0, dtype: int32
one      3
two      4
three    5
Name: 1, dtype: int32
one      6
two      7
three    8
Name: 2, dtype: int32
one       9
two      10
three    11
Name: 3, dtype: int32
one      12
two      13
three    14
Name: 4, dtype: int32

In [21]:
for index,val1,val2,val3 in df.itertuples():
    print(index,val1,val2,val3)

0 0 1 2
1 3 4 5
2 6 7 8
3 9 10 11
4 12 13 14